{% extends 'patient/master.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="pt-1 pb-2 text-center">
        <h4>Buongiorno</h4>
        <p></p>
        <h2>inserisci i tuoi valori</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="row">
                <div class="col">
                    {% if illness_data %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-warning" role="alert">Ultimo inserimento dati : {{ illness_data.date_create }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if messages %}
                        <div class="row">
                            <div class="col-lg-6">
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.breath_frequency.id_for_label }}">Frequenza respiratoria</label>
                            {{ form.breath_frequency | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.heart_rate.id_for_label }}">Frequenza cardiaca</label>
                            {{ form.heart_rate | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.systolic_pressure.id_for_label }}">Pressione sistolica</label>
                            {{ form.systolic_pressure | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.body_temperature.id_for_label }}">Temperatura corporea</label>
                            {{ form.body_temperature | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.oxygen_saturation.id_for_label }}">Saturazione ossigeno (opzionale)</label>
                            {{ form.oxygen_saturation | add_class:"form-control" }}
                        </div>
                        <input type="submit" value="Invia al Medico" class="btn btn-lg btn-block btn-success btn-submit">
                    </form>

                    <p class="privacy_policy"><strong>Schiacciando su "Invia al Medico" inoltro i dati in forma totalmente anonima: predetti dati, associati ad un ID numerico, saranno comunque visibili solo al tuo medico curante</strong></p>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
