
<h2>Lista pazienti attivi</h2>
<div class="mb-4">
    <input class="form-control" id="SearchPatientInput" type="text" placeholder="Cerca paziente..">
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="patientsTable">
        <thead>
            <tr>
                <th scope="col">ID</th>

                <th scope="col">Freq.<br> Resp.</th>
                <th scope="col">Freq.<br> Card.</th>
                <th scope="col">Pressione<br> Sistolica</th>
                <th scope="col">Temp.<br> Corp.</th>
                <th scope="col">Saturazione<br> Ossigeno</th>
                <th scope="col">SCORE</th>
                <th scope="col">Invio OTP</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody id="PatientList">
            {% for patient in patients %}
                <tr>
                    <td>{{patient.ssn}}</td>
                    {% if patient.lastIllnessData %}
                    <td>{{ patient.lastIllnessData.breath_frequency }}</td>
                    <td>{{ patient.lastIllnessData.heart_rate }}</td>
                    <td>{{ patient.lastIllnessData.systolic_pressure }}</td>
                    <td>{{ patient.lastIllnessData.body_temperature|floatformat }} °C</td>
                    <td>{% if patient.lastIllnessData.oxygen_saturation %}{{ patient.lastIllnessData.oxygen_saturation }}{% endif %}</td>
                    <td>{% if patient.illnessdata_set.last.mews_score is not None %}{{patient.illnessdata_set.last.mews_score}}{% endif %}</td>
                    {% else %}
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                    {% endif %}
                    <td>
                        <a href="javascript:window.location='mailto:?subject='+encodeURIComponent('Invio dati accesso alla piattaforma monitoraggio')+'&body='+encodeURIComponent(window.location.origin + '/{{patient.currentPatientOTP.otp}}/')">
                            <i class="far fa-envelope info-patient-icon"></i>
                        </a>
                        <a href="javascript:window.location='https://wa.me/?text='+encodeURIComponent(window.location.origin + '/{{patient.currentPatientOTP.otp}}/')">
                            <i class="fab fa-whatsapp info-patient-icon"></i>
                        </a>
                    </td>
                    <td><a href="{% url 'doctor.patients.detail' patient.id %}"><i class="fas fa-info-circle info-patient-icon"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" >
<script>
    $(document).ready(function()
    {
        $("#SearchPatientInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#PatientList tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#patientsTable').DataTable({
            "order": [[ 2, "desc" ]],
            "searching":false,
            "paging":false,
            "info": false
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

