{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Controllo Medico - sezione Dottore</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <!-- fallback for old browsers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <!-- iconfont kit -->
    <script src="https://kit.fontawesome.com/4b6b6397c0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'js/patient_charts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >


</head>
<body class="bg-light">

<div class="header">
<p>Dottor CANE - Dashboard</p>
</div>
{% block content %}
{% endblock %}

<footer>
    <p>Proudly offered by the Discovery Development Team: Mirko Arena, Samuele Macchi, Obou Brissy, Brian Suarez, Filippo Vezzali, Mirko Cappai</p>
    <a href="#"> Per aiuto sulla piattaforma contattare Mirko Arena</a>
</footer>


</body>
</html>



