{% extends 'doctor/master.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Paziente: {{ patient.patientFullName }}</h1>
                <h3 class="mb-5">SSN: {{ patient.ssn }}</h3>
                <h5>Dati del paziente:</h5>
                {% if illnessdata %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Frequenza<br> Respiro</th>
                                <th>Frequenza<br> Cardiaca</th>
                                <th>Pressione<br> Sistolica</th>
                                <th>Temperatura<br> Corporea</th>
                                <th>Saturazione<br> Ossigeno</th>
                                <th>Score</th>
                                <th>Data e ora</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="PatientList">
                            {% for illnessdatarecord in illnessdata %}
                                <tr>
                                    <td>{{ illnessdatarecord.breath_frequency }}</td>
                                    <td>{{ illnessdatarecord.heart_rate }}</td>
                                    <td>{{ illnessdatarecord.systolic_pressure }}</td>
                                    <td>{{ illnessdatarecord.body_temperature|floatformat }} °C</td>
                                    <td>{% if illnessdatarecord.oxygen_saturation %}{{ illnessdatarecord.oxygen_saturation }}{% endif %}</td>
                                    <td>{{ illnessdatarecord.mews_score }}</td>
                                    <td>{{ illnessdatarecord.date_create|date:"d/m/y H:i" }}</td>
                                    <td class="text-center"><a class="btn btn-sm btn-danger" href="#">Elimina</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
            </div>
            <div class="col-12">
                <canvas id="dataChart"></canvas>
            </div>
        </div>
        </div>
    </div>
    <script>
        var dtf = new Intl.DateTimeFormat('it', { dateStyle: 'short', timeStyle: 'short' });
        var ctx = document.getElementById('dataChart').getContext('2d');
        var datasets = {
            brDataset: {
                fill: false,
                borderColor: 'rgba(31, 223, 223, 0.7)',
                label: 'Frequenza Respiro',
                data: []
            },
            hrDataset: {
                fill: false,
                borderColor: 'rgba(214, 30, 30, 0.7)',
                label: 'Frequenza Cardiaca',
                data: []
            },
            spDataset: {
                fill: false,
                borderColor: 'rgba(25, 25, 219, 0.7)',
                label: 'Pressione Sistolica',
                data: []
            },
            btDataset: {
                fill: false,
                borderColor: 'rgba(219, 122, 25, 0.7)',
                label: 'Temperatura Corporea',
                data: []
            },
            osDataset: {
                fill: false,
                borderColor: 'rgba(115, 25, 219, 0.7)',
                label: 'Saturazione Ossigeno',
                data: []
            }
        };
        var labels = [];
        {% for illnesdatarecord in illnessdata %}
        datasets.brDataset.data.push({
            t: dtf.format(new Date('{{illnesdatarecord.date_create}}')),
            y: {{illnesdatarecord.breath_frequency|default_if_none:'NaN'}}
            });
        datasets.hrDataset.data.push({
            t: dtf.format(new Date('{{illnesdatarecord.date_create}}')),
            y: {{illnesdatarecord.heart_rate|default_if_none:'NaN'}}
        });
        datasets.spDataset.data.push({
            t: dtf.format(new Date('{{illnesdatarecord.date_create}}')),
            y: {{illnesdatarecord.systolic_pressure|default_if_none:'NaN'}}
        });
        datasets.btDataset.data.push({
            t: dtf.format(new Date('{{illnesdatarecord.date_create}}')),
            y: {% if illnesdatarecord.body_temperature %}parseFloat('{{illnesdatarecord.body_temperature}}'.replace(',', '.')){% else %}'NaN'{% endif %}
        });
        datasets.osDataset.data.push({
            t: dtf.format(new Date('{{illnesdatarecord.date_create}}')),
            y: {{illnesdatarecord.oxygen_saturation|default_if_none:'NaN'}}
        });
        labels.push(dtf.format(new Date('{{illnesdatarecord.date_create}}')));
        {% endfor %}
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: Object.values(datasets)
            },
            scales: {
                xAxes: [{
                    type: 'time'
                }]
            }
        });
    </script>
{% endblock %}  