{% extends 'doctor/master.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Paziente: {{ patient.patientFullName }}</h1>
                <h3 class="mb-5">SSN: {{ patient.ssn }}</h3>
                <h5>Dati del paziente:</h5>
                {% if illnessdata %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Frequenza<br> Respiro</th>
                                <th>Frequenza<br> Cardiaca</th>
                                <th>Pressione<br> Sistolica</th>
                                <th>Temperatura<br> Corporea</th>
                                <th>Saturazione<br> Ossigeno</th>
                                <th>Score</th>
                                <th>Data e ora</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="PatientList">
                            {% for illnessdatarecord in illnessdata %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ illnessdatarecord.breath_frequency }}</td>
                                    <td>{{ illnessdatarecord.heart_rate }}</td>
                                    <td>{{ illnessdatarecord.systolic_pressure }}</td>
                                    <td>{{ illnessdatarecord.body_temperature|floatformat }} °C</td>
                                    <td>{% if illnessdatarecord.oxygen_saturation %}{{ illnessdatarecord.oxygen_saturation }}{% endif %}</td>
                                    <td>{{ illnessdatarecord.mews_score }}</td>
                                    <td>{{ illnessdatarecord.date_create|date:"d/m/y H:i" }}</td>
                                    <td class="text-center"><a class="btn btn-sm btn-danger" href="#">Elimina</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        <div clas="row mt-5">
            <div class="col">
                <canvas id="generalChart"></canvas>
            </div>
        </div>
        <div clas="row mt-5">
            <div class="col">
                <canvas id="mewScoreChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        createChart('generalChart','line', {{general_chart.date_labels|safe}},{{general_chart.dataset|safe}});
        createChart('mewScoreChart','bar', {{mew_score_chart.date_labels|safe}},{{mew_score_chart.dataset|safe}});

    </script>
{% endblock %}  