{% extends 'doctor/master.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container margin-top">
    <h2>Lista pazienti attivi</h2>

    <input class="form-control" id="SearchPatientInput" type="text" placeholder="Cerca paziente..">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>SSN</th>
            <th>Nome</th>
            <th>SCORE</th>
            <th>Cellulare</th>
        </tr>
        </thead>
        <tbody id="PatientList">

        {% for patient in patientsList %}
        <tr>
            <td> {{patient.ssn}}</td>
            <td> {{patient.ssn}}</td>
            <td>{% if patient.illnessdata_set.last.mews_score %} - {{patient.illnessdata_set.last.mews_score}}{% endif %}</td>
            <td>{{patient.mobile_number_1}}</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function(){
        $("#SearchPatientInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#PatientList tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<style>
    .margin-top{
        margin-top:100px;
    }
</style>

{% endblock %}
